@charset "UTF-8";


@media (max-width: 800px) {
div {
	margin-top: 5px;
	margin-bottom: 10px;
}
#Stall {
	width: 100%;
	display: inline-block;
    text-align: center;
	margin-top: 10%;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
}

form input {
	width: 140px;
	align: center;
	margin-top: 10px;
	padding-left: 5px;
	height: 20px;
	text-align: center;
}

fieldset {
	border: none;
}

fieldset input {
	align: center;
	width: 90px;
}
#add_field {
width: 40px;	
}

}

div {
	margin-top: 5px;
	margin-bottom: 10px;
}
#Stall {
	width: 100%;
	display: inline-block;
    text-align: center;
	margin-top: 10%;
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace
}

form input {
	width: 140px;
	align: center;
	margin-top: 10px;
	padding-left: 5px;
	height: 20px;
	text-align: center;
}

fieldset {
	border: none;
}

fieldset input {
	align: center;
	width: 90px;
}
#add_field {
width: 40px;	
}
